.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  & .no-tasks {
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--text-color);
  }
}
