@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.task {
  animation: fadeIn 0.3s ease-out;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  background-color: var(--base-color-light);
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  &:hover {
    box-shadow: 0 4px 8px rgba(255, 115, 0, 0.1);
  }

  & span {
    padding: 10px 0;
    width: 90%;
  }

  & .title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
      margin-right: 10px;
    }

    & .complete-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: transparent;
      opacity: 0.8;
      transition: all 0.25s ease;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.1);
        transition: all 0.25s ease;
      }

      &:active {
        transform: scale(0.9);
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .description {
    font-size: 16px;
    opacity: 0.8;
  }

  & .footer {
    width: 100%;
    border-top: 1px solid var(--text-color);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .deadline {
      padding: 0;
      font-size: 14px;
      opacity: 0.6;
    }

    & .task__buttons {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      transition: transform 0.1s ease-out;

      & button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(255, 115, 0, 0.5);
        transition: all 0.25s ease;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
          margin: 0 10px;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 115, 0, 0.8);
          transform: scale(1.1);
          transition: all 0.25s ease;
        }

        &:active {
          transform: scale(0.9);
        }

        & svg {
          width: 20px;
          height: 20px;
          stroke: var(--base-color-dark);
        }
      }
    }
  }
}

.task.removing {
  animation: fadeOut 0.3s ease-out;
}
