:root {
  --table-main-color: #ff7300;
  --table-hover-color: #e56700;
  --text-color: rgba(255, 255, 255, 0.8);
  --error-color: #fc7d6c;
}

.table-wrapper {
  margin-bottom: 25px;
  border-radius: 6px;
  width: 100%;
  max-width: 1200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border: 1px solid var(--table-main-color);
  background: transparent;
  table-layout: fixed;
}

.table th {
  background-color: var(--table-main-color);
  transition: background 0.25s ease;
  color: var(--base-color);
  font-size: 14px;
  padding: 0.8em 1em;
  text-align: left;
  min-width: 50px;
  max-width: 250px;

  &:hover {
    cursor: pointer;
    background: var(--table-hover-color);
    transition: background 0.25s ease;
  }

  & .th-content {
    display: flex;
    align-items: center;

    & svg {
      margin-left: 10px;
      width: 24px;
      height: 24px;
    }

    & .down {
      transform: rotate(180deg);
    }
  }
}

.table td {
  color: var(--text-color);
  font-size: 14px;
  padding: 0.65em 1em;
  text-align: left;
  max-width: 250px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tr {
  transition: background 0.25s ease;
  border-bottom: 1px solid var(--table-main-color);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.th-resizable {
  position: relative;

  & .resizer {
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    z-index: 1;
    transition: background 0.25s ease;

    &:hover,
    &:active {
      background: rgba(255, 255, 255, 0.4);
      transition: background 0.25s ease;
    }
  }
}

.error {
  color: var(--error-color);
}
